apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
      - name: ollama
        image: ollama/ollama:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 11434
        volumeMounts:
        - name: ollama-storage
          mountPath: /root/.ollama
        command: ["sh", "-c"]
        args:
          - |
            ollama serve &
            sleep 5 &&
            ollama pull llama3 &&
            tail -f /dev/null
      volumes:
      - name: ollama-storage
        persistentVolumeClaim:
          claimName: ollama-pvc
